footer {
    /* background-color: lightgrey;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
     */
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: lightgray;
     color: black;
     text-align: center;
}